---
layout: default
title: Home
---
<div class='placeholder'>
  <span class='landing_quote'>“Funny, creative, yet insightful quote under construction.”</span>
  <br>
 <!--  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --><span class='landing_quote_2'> — Me, hopefully soon</span>
</div>
<!-- <div class='tweet_container'>
  <a class="twitter-timeline" data-width='700' data-height='500' data-tweet-limit='1' href="https://twitter.com/wilbtweet" data-widget-id="701589489039208448">Tweets by @wilbtweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div> -->

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
 -->
