---
layout: default
title: Home
---

<h1>Hey there. I’m a designer who loves usability, research, and typography.</h1>
<h2>Not really a dog nor cat-person — they both hate me equally.</h2>
<br>
<abbr>Latest Post</abbr>
<div class='posts'>
{% for post in paginator.posts limit:1 %}
  <a href="{{ site.baseurl }}{{ post.url }}">
    <article class="post preview">
      <h1 class="post-title">
        
        {{ post.title }}
      
      </h1>

      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
      <span class='work-intro'>{{ post.intro }}</span>

    </article>
  </a>
  {% endfor %}
</div> 

<abbr>Latest Project</abbr>
<div class='posts'>
{% for post in site.portfolio limit:1%}
  <a href="{{ site.baseurl }}{{ post.url }}">
    <article class="post preview">
      <h1 class="post-title">
        
        {{ post.title }}
       
      </h1>
      <!-- <p>{{ post.intro }}</p> -->
      <span class='work-details'>{{ post.details }}</span>
      <span class='work-intro'>{{ post.intro }}</span>
    </article> 
  </a>
  {% endfor %}
</div>



<!-- <div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
    <p>{{ post.intro }}</p>

  </article>
  {% endfor %}
</div> -->

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
 -->
