<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <script src="https://use.typekit.net/xev0wsf.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

  <link href="/files/zoom.js-master/css/zoom.css" rel="stylesheet">
  <script src="/files/zoom.js-master/js/zoom.js"></script>
  <script src="/files/zoom.js-master/js/transition.js"></script>


</head>
