// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Chaparral-Pro", Georgia, serif;
  font-size: 16px;
  line-height: 1.6;

  @media (min-width: 38em) {
    font-size: 24px;
  }
}

body {
  color: #3A3A3A;
  background-color: #FFF;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
.intro-text{
  font-weight:500;
  font-size:1.5rem;
  line-height:1.2;
  text-align:center;
}
// No `:visited` state is required by default (browsers will use `a`)
a {
  color: #4451A0; 
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
    
  transition:.5s;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    color: #70A3D0;
  }

  strong {
    color: inherit;
  }
}
.work-intro{
  color:#3A3A3A !important;
}
main{
  min-height:15rem;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
