// Masthead
//
// Super small header above the content for site name and short description.

.masthead {

  padding-top:    1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom:2px solid black;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #313131;
  font-weight:500;
  text-transform:uppercase;
  letter-spacing:1.6px;
  a{
    color:#313131;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    
  transition:.5s;
  }
  a:hover{
    color: #70A3D0;
  }
  
  
}

.nav_item{
  line-height:25px;
}

.active {
    text-decoration:underline;
  }