$gray-1: #B8B8B8;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$black: #363636;
$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #274EA1;
$secondary: #8AA5E0;
$brown: #8f5536;

$root-font-family: "calluna", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$root-font-size: 16px;
$root-line-height: 1.6;

$body-color: #363636;
$body-bg: #fff;
$link-color: $blue;

$border-color: #e5e5e5;


$large-breakpoint:38em;
$large-font-size: 20px;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #bf616a;
