<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h5 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home" class='home-button'>{{ site.title }}</a>
          {% for nav in site.nav_items %}
            {% if page.url == nav.url %}
              &nbsp;&nbsp;&nbsp;
              <small class='active'><a href="{{ nav[1]  }}">{{ nav[0]}}</a></small>
            {% else %}
              &nbsp;&nbsp;&nbsp;
              <small><a href="{{ nav[1]  }}">{{ nav[0] }}</a></small>
            {% endif %}
          {% endfor %}
        </h5>
       
         
      
          
      
      </header>

      <main>
        {{ content }}
      </main>

      
    </div>

  </body>
</html>
